<!-- HEADER -->
<mat-toolbar color="primary">
  <mat-toolbar-row class="navbar-row">
    <h1><a style="color: white;" href="#" routerLink="/dashboard">FMB Dispatch</a></h1>
    <span class="spacer"></span>
    <h4><a href="#" routerLink="/reports">Reports</a></h4>
    <h4><a href="#" routerLink="/tuks">Tuks</a></h4>
    <h4><a href="#" (click)="logout()">Logout</a></h4>
    <div class="my-auto">
      <mat-form-field style="font-size: 17px;" color="accent" appearance="fill">
        <mat-label>Select Date</mat-label>
        <input matInput [matDatepicker]="picker1" (dateChange)="addEvent('change', $event)"
          [formControl]="serializedDate" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- BODY -->
<div class="container tuk-body">
  <div class="row">
    <div class="col-6">
      <h2 class="text-center">Manage Tuks</h2>
      <mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8 mb-5">

        <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

        <!-- Id Column -->
        <ng-container matColumnDef="tuk_id">
          <mat-header-cell *matHeaderCellDef>Tuk Id</mat-header-cell>
          <mat-cell *matCellDef="let tukList">{{ tukList.tuk_id }}</mat-cell>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="tuk_name">
          <mat-header-cell *matHeaderCellDef>Tuk Name</mat-header-cell>
          <mat-cell *matCellDef="let tukList">{{ tukList.tuk_name }}</mat-cell>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="tuk_contact">
          <mat-header-cell *matHeaderCellDef>Tuk Contact</mat-header-cell>
          <mat-cell *matCellDef="let tukList">{{ tukList.tuk_contact }}</mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th style="border-bottom: none;" mat-header-cell *matHeaderCellDef> Action </th>
          <td style="border-bottom: none;" mat-cell *matCellDef="let tukList" class="action-link">
            <a (click)="openDialog('Update',tukList)" class="editbtn">Edit</a> |
            <a (click)="openDialog('Delete',tukList)" class="deletebtn">Delete</a>
          </td>
        </ng-container>

        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
      </mat-table>
    </div>
    <div class="col-6">
      <h2 class="text-center">Add Tuk</h2>
      <form class="tuk-form" [formGroup]="tukForm" (ngSubmit)="onSubmit(tukForm.value)">
        <table class="mx-auto">
          <tbody>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Tuk Name</mat-label>
                  <input matInput formControlName="tuk_name" placeholder="Ex. NIS" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Address</mat-label>
                  <textarea formControlName="address" matInput placeholder="Ex. 100 Main St"></textarea>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Mobile</mat-label>
                  <span matPrefix>+94 &nbsp;</span>
                  <input formControlName="mobile" type="tel" matInput placeholder="555-555-1234">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" placeholder="Ex. email@domain.com">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <button type="submit" class="sbt-btn my-auto text-center" mat-raised-button
                  color="accent">Submit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
