<h1 mat-dialog-title>Friday Only List</h1>
<div mat-dialog-content>Sabeel No <strong>{{data.sabeelno}}</strong> is registered under friday only list.</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button mat-dialog-close (click)="addAnyway(data.sabeelno)">Add Anyway</button>
</div>