<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <ng-container *ngIf="action != 'Delete'; else elseTemplate">
    <mat-form-field>
      <input placeholder="{{action}} Name" matInput [(ngModel)]="local_data.tuk_name">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="{{action}} Contact" matInput [(ngModel)]="local_data.tuk_contact">
    </mat-form-field>
  </ng-container>
  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.tuk_name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button color="accent" mat-raised-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
